name: Build & Push - Patient Service

on:
  push:
    paths:
      - "patientservice/**"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build image
        run: docker build -t rajbdocker/3-applications:patient-latest ./patientservice

      - name: Push image
        run: docker push rajbdocker/3-applications:patient-latest
